.titre {
  background-image:url("Images/img7.png");
  
}

.cards {
  padding: 15px 0;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card-element {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 0px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
height: 206px;
width: 100%;
}

.card-test {
  width: 30%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-test a {
  text-decoration: none;
  color: black;
}